extends layout

block content
  .container
    h1(style='color: black; font-weight: bold; margin-bottom: 5px;')
      | Public/Private Keys Study Unit
    h2(style='color: black; font-size: 1.4em; font-weight: normal; margin-top: 0;')
      | Sponsored by 
      a(href='https://www.document.ge/', target='_blank', style='color: #c2113a; text-decoration: none;')
        | Document.ge
      |  for 
      a(href='https://www.sabauni.edu.ge/ka', target='_blank', style='color: #c2113a; text-decoration: none;')
        | SabaUni
    br
