extends layout

block content
  .container
    h1(style='color: #002F6C; font-weight: bold; margin-bottom: 5px;')
      | Public/Private Keys Simulation Module
    h2(style='color: black; font-size: 1.4em; font-weight: normal; margin-top: 0;')
      | Sponsored by 
      a(href='https://www.document.ge/', target='_blank', style='color: #c2113a; text-decoration: none;')
        | Document.ge
      |  for 
      a(href='https://www.sabauni.edu.ge/ka', target='_blank', style='color: #c2113a; text-decoration: none;')
        | Sulkhan-Saba Orbeliani University
    br
    p(style='color: black; font-size: 0.7em; line-height: 1.5; max-width: 800px;')
      | This simulation module is designed as an educational tool to demonstrate the underlying logic of Blockchain and Smart Contract technologies. It allows students to experiment with key cryptographic mechanisms such as hashing (SHA-256 algorithm), digital signatures, and verification processes. 
      | The platform has been developed and launched with the support of 
      a(href='https://www.document.ge/', target='_blank', style='color: #c2113a; text-decoration: none;') Document.ge 
      | for 
      a(href='https://www.sabauni.edu.ge/ka', target='_blank', style='color: #c2113a; text-decoration: none;') Sulkhan-Saba Orbeliani University 
      | for academic and research purposes only. Unauthorized reproduction or distribution of the code is strictly prohibited.
