extends layout

block content
  .container
    br
    h1(style='color: #002F6C; font-weight: bold; text-align: center; font-size: 1.8em; margin-bottom: 15px;')
      | Public/Private Keys Simulation Module
    br
    p(style='color: black; font-size: 1.0em; line-height: 1.6; max-width: 800px; margin: 0 auto; text-align: justify; text-justify: inter-word;')
      | This simulation module is designed as an educational tool to demonstrate the underlying logic of Blockchain and Smart Contract technologies. It allows students to experiment with key cryptographic mechanisms such as hashing (SHA-256 algorithm), digital signatures, and verification processes. 
      | The platform has been developed and launched with the support of 
      a(href='https://www.document.ge/', target='_blank', style='color: #c2113a; text-decoration: none;') Document.ge 
      | for 
      a(href='https://www.sabauni.edu.ge/ka', target='_blank', style='color: #c2113a; text-decoration: none;') Sulkhan-Saba Orbeliani University 
      | for educational and research purposes only. Unauthorized reproduction or distribution of the source code is strictly prohibited.
